.logo{
    background-image: url("../img/pattern.png");
    
    background-size: contain;
    height: 70px;
    width: 100%;
    background-color:rgb(48, 143, 233);
}

.bool{
    height: 50px;
    width: auto;
    
}

h1{
    font-size: 60px;
    margin: 0px;
}

.gray{
    color: gray;
}

.blue{
    color: blue;
}

.intestazioni{
    font-size: 12px;
}