.logo{
    background-image: url("../img/pattern.png");
    
    background-size: contain;
    height: 70px;
    width: 100%;
    background-color:rgb(48, 143, 233);
}

.bool{
    height: 50px;
    width: auto;
    
}

h1{
    font-size: 60px;
    
}

.gray{
    color: gray;
}

.blue{
    color: blue;
}

.intestazioni{
    font-size: 12px;
}
main{
    font-size: 20px;
    font-style:unset;
}

.evidenziato{
    background-color: yellow;
}

table{
    width:100%;
    border:none;
}

thead{
    background-color: blue;
    color: white;
}

td{
    width: 33%;
}

.lightblue{
    background-color: lightblue;
}